body {
  background-color: #E7F6FF;
  color: #000;
  font-family: 'Inter', sans-serif;
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  border: none;
}

a {
  text-decoration: none;
}

input:focus-visible {
  outline: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
  margin-top: 85px;
  margin-bottom: 85px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  background-color: #fff;

}

.App {
  font-size: 32px;
}

.header {
  padding: 46px 60px;
  border: 1px solid #EAEAEA;
  display: flex;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.headerLogo {
  width: 40px;
  height: 40px;
}

.headerName {

  & p {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
  }

  & span {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #9D9D9D;
  }
}

.headerRight {
  display: flex;
  gap: 30px;
  align-items: center;

  & svg {
    display: flex;
  }
}

.headerCart {
  display: flex;
  gap: 10px;
  cursor: pointer;

  & span {
    font-size: 14px;
    line-height: 17px;
    color: #5C5C5C;
  }
}

//Content
.content {
  padding: 30px 60px;
}

.contentTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentTitle {
  font-size: 32px;
  line-height: 39px;
}

.contentSearch {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  width: 250px;
  padding: 15px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  & .clear {
    position: relative;
    right: 5px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 0;

  }

  & img {
    margin-right: 14px;
  }
}

// Skneakers card 
.skeakersCard {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 30px 0px;

  @media (max-width: 991px) {
    gap: 30px;
  }
}